<nav class="navbar navbar-expand-md">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-toggle"
          aria-controls="navbar-toggle" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbar-toggle">
    <ul class="navbar-nav">
      {{#link-to "index" tagName="li" class="nav-item"}}
        <a class="nav-link">HOME</a>
      {{/link-to}}
      {{#link-to "about-us" tagName="li" class="nav-item"}}
        <a class="nav-link">ABOUT US</a>
      {{/link-to}}
      {{#link-to "teachings" tagName="li" class="nav-item"}}
        <a class="nav-link">TEACHINGS</a>
      {{/link-to}}
      {{#link-to "activities" tagName="li" class="nav-item"}}
        <a class="nav-link">ACTIVITIES</a>
      {{/link-to}}
      {{#link-to "news" tagName="li" class="nav-item"}}
        <a class="nav-link">NEWS</a>
      {{/link-to}}
      {{#link-to "media" tagName="li" class="nav-item"}}
        <a class="nav-link">MEDIA</a>
      {{/link-to}}
      {{#link-to "contact" tagName="li" class="nav-item"}}
        <a class="nav-link">CONTACT</a>
      {{/link-to}}
      {{#link-to "faqs" tagName="li" class="nav-item"}}
        <a class="nav-link">FAQS</a>
      {{/link-to}}
    </ul>
  </div>
</nav>