{{#img-banner src="assets/images/activities/alms-offering/banner.png"}}
  <h1 class="display-3 image-banner_display">ALMS OFFERING</h1>
{{/img-banner}}
<div class="container-fluid px-5">
  <div class="row my-5">
    <div class="col-12 col-lg-6">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/geUHRHQREYs" frameborder="0"
                allow="encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-12 col-lg-6 mt-3">
      This project not only revives morality and the food-offering tradition, but it also serves to unite Buddhists
      and help our monks and novices in the four southern provinces who cannot go on their alms-round due to the civil
      unrest. Donated food and other goods are sent to help disaster victims as well. Initially the project intends to
      offer food for up to two million monks from 77 provinces in Thailand. However, the activity include the
      neighboring countries such as Myanmar and Laos as well.
    </div>
  </div>
  <div class="row my-5">
    <div class="col text-center">
      {{#link-to-and-scroll-nav "activities"}}
        <button type="button" class="btn btn-outline-primary">
          Back to activities
        </button>
      {{/link-to-and-scroll-nav}}
    </div>
  </div>
</div>