{{#img-banner src="assets/images/activities/dhammachai-dhutanga/banner.png"}}
  <h1 class="display-3 image-banner_display">DHAMMACHAI DHUTANGA</h1>
{{/img-banner}}
<div class="container-fluid">
  <div class="row mt-5">
    <div class="col lead px-5">
      The Dhammachai Dhutanga is one of the World Morality Revival Projects initiated by Phrathepyanmahamuni, Abbot of
      Dhammakaya Temple and President of the Dhammakaya Foundation. The inaugural pilgrimage was held in early 2011
      (2555 B.E.) and saw more than 1,000 monks journey on foot along the path in the pursuit of Perfections of the
      Great Master Phramongkolthepmuni (Sodh Candasaro), the re-discoverer of Dhammakaya meditation. The Dhutanga
      covered seven provinces that included Pathum Thani, Nontha Buri, Suphan Buri, Nakhon Pathom, Samut Sakhon, Phra
      Nakhon Sri Ayutthaya and Bangkok Metropolitan.
    </div>
  </div>
  <div class="row mt-5">
    <div class="col px-5">
      <h2 class="mb-3">
        What is Dhutanga?
      </h2>
      <p>
        Dhutanga is a monastic austerity practice to help remove defilements of the mind, one of which is attachment to
        things. Embarking on this pilgrimage, it is essential to travel light with the least amount of things.
        Therefore, Dhutanga monks will carry only the things they need: a tent held on a long-handled umbrella, a
        shoulder satchel, an alms-bowl and one set of monk’s robe.
      </p>
      <p>
        Each day, they will have just one meal and will not take extra food after the first serving or accept additional
        food offered by the laity. Each evening they will reside at the location arranged by the staff and sleep in
        tents that they’ve been carrying. At each day’s destination, the Dhutanga monks will assemble to perform
        chanting and practice meditation together.
      </p>
      <p>
        Throughout the day as they’re walking, the monks will observe the practice of silence and mindfulness and always
        carry a tranquil countenance and refined deportment of virtuous individuals who have trained themselves well.
        They will not be distracted by the heat or the hot surface under their feet, but will continue to walk
        gracefully and peacefully along to greet faithful supporters who have gathered to sprinkle marigold petals on
        the path and to enthusiastically welcome the Dhutanga monks walking pass their homes or offices.
      </p>
      <p>
        The pilgrimage will bring joy to everyone participating and blessings to the land walked by these noble monks –
        like cool rain delivering happiness, delight and brightness.
      </p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col px-5">
      <p>
        Dhutaṅga is how monks take their disciplinary training to another level for the purpose of ridding themselves of
        defilements. Dhutaṅga is about living light so that monks have more time to focus on meditation and practicing
        mindfulness. Dhutanga monks eat only one meal per day, take up residence outdoors, and consume only food that
        they receive from alms rounds. They keep personal possessions to a bare minimum and typically journey barefoot.
      </p>
      <p>
        In 2016, the Dhammachai Dhutaṅga tool place between the 2nd and 30th of January, covering seven provinces:
        Pathum Thani,
        Nonthaburi, Supanburi, Ayudhya, Nakon Pathom, Samutsakorn, and Bangkok. During a Dhutaṅga training, monks get to
        practice endurance, fortitude, compassion, giving, team spirit, concentration, awareness, and moment-to-moment
        meditation. As they journey barefoot, they meditate, share inner peace, and spread loving-kindness to all living
        beings.
      </p>
      <p>
        The 1,131 monks on the Dhammachai Dhutaṅga pilgrimage come from different parts of Thailand. Yet, they are
        united by the mission to train themselves and to spread the message that “inner peace is a prerequisite to
        external peace in any society and the world at large”. Their peace journey also serves a tribute to honor the
        Buddha and the late Meditation Master Phramongkolthepmuni who rediscovered the Buddha’s key knowledge about the
        innate Body of Enlightenment (the Dhammakaya) which had been lost to the world about 500 years after His
        passing.
      </p>
      <p>
        Although the annual Dhammachai Dhutaṅga pilgrimage is primarily for monks, many who had the opportunity to
        witness the group pilgrimage were inspired to learn and to practice the Buddha’s teachings. It is one thing to
        know Dhamma from written or spoken words; it’s another to live it. As the monks walk, they are putting their
        Dhamma practice to test. It is obviously easier to meditate or to keep one’s mind still in a cool and quiet
        environment, and we all should find time to do that. But the fact is most of us live in an ever-expanding urban
        society and face many challenges – some of which are outside our control. The only thing we ever have complete
        control over is our mind. Therefore, it is important for us to train our mind to be calm and cool no matter
        where we are. The Dhammachai Dhutaṅga monks is living proof that inner peace is possible anywhere, under any
        condition – cold rain or scorching sun – and it begins from within. They can do it, and so can you.
      </p>
    </div>
  </div>
  <div class="row my-5">
    <div class="col text-center">
      {{#link-to "activities"}}
        <button type="button" class="btn btn-outline-primary">
          Back to activities
        </button>
      {{/link-to}}
    </div>
  </div>
</div>