{{#img-banner src="assets/images/activities/earth-day/banner.png"}}
  <h1 class="display-3 image-banner_display">EARTH DAY</h1>
{{/img-banner}}
<div class="container-fluid">
  <div class="row mt-5">
    <div class="col px-5">
      <h2 class="mb-3">
        The Origin
      </h2>
      <p>
        In 1970, the Honorable Gaylord Nelson, a United States Senator and passionate advocate for protecting the
        environment, helped establish April 22nd as Earth Day, the national day for the environment. His ambitious
        endeavor compelled the World Federation of Buddhist Youth (WFBY) to examine methods to keep the most important
        human resource – our mind – pristine and to safeguard it from thought, speech or action that will cause others
        distress and ultimately bind us to the endless cycle of suffering. Hence, WFBY petitioned for April 22nd to be
        known as “Dhamma Earth Day” under the motto, “Clean the World, Clean the Mind”.
      </p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col px-5">
      <h2 class="mb-3">
        Earth Day April 22
      </h2>
      <p>
        If one stirs water filled with dirt, the water turns brown; but if one leaves it still, it becomes clear, as
        dirt is isolated. The same can be said about the mind; for if it remains still, greed, anger, and desire, will
        be separated, and the mind itself will become pure.
      </p>
      <p>
        This special occasion reminds us to think more about our responsibilities as residents of the earth. It is a
        great opportunity for us to review all of our activities that may affect the conditions of the earth. In other
        words, any actions that we can do to improve the current conditions of the earth and the environment.
      </p>
      <p>
        The conditions of the planet earth are changing daily due to two main factors: Natural phenomena and human
        activities.
      </p>
      <p>
        Natural phenomena such as flood, wild fire, and storms, are part of nature itself. They are the factors that
        help shape the earth. The earth we live in today is a work of nature. These events that affect earth conditions
        are difficult to control and may not be desirable to control.
      </p>
      <p>
        Human activities such as deforestation, nuclear testing, air and water pollution, and over consumption of natural
        resources, on the other hand, are the factors that deteriorate the earths condition and may be controlled. Since
        human beings are the main cause of environmental problems, it is necessary to change people’s attitudes and
        behaviors towards the earth.
      </p>
      <p>
        Human beings consist of two main parts: the body and the mind.
      </p>
      <p>
        The mind controls the body to act as the mind wishes. As the Buddha says, “The mind controls everything.
        Everything can be achieved by the power of the mind. A person with an evil mind can do any kind of evil thing. A
        person with a purified mind can do endless good deeds that benefit the society.”
      </p>
      <p>
        Therefore, the best way to change human actions is to change the way people think. That is, to train the mind
        to be able to see things the way as they actually are. People with clear and purified minds can act more
        reasonably than those with confused minds. Although it may take some time to train people’s minds, the results
        will be invaluable.
      </p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col px-5">
      <h2 class="mb-3">
        Two Virtues that Protect the World
      </h2>
      <p>
        According to Buddhism, the attitudes that help keep the world in order are
      </p>
      <ol>
        <li>
          Hiri (disgust/shame about bad things) When we are disgusted by something, we will avoid being near to or
          doing that thing. By developing this kind of feeling towards bad behavior, we will not do that type of action.
          For example, if we have an aversion towards stealing, we will never steal from anybody, even though no one
          would know we had done it.
        </li>
        <li>
          Ottappa (fear of the result of committing bad actions) When we are afraid of the consequence of something,
          we will not initiate any kind of action to cause it to happen. Committing bad actions may result in the
          suffering of others or our own selves.
        </li>
      </ol>
      <p>
        People who possess the qualities of Hiri and Ottappa will not hurt or cause any disturbance to others. They will
        not destroy the environment or deteriorate the conditions of the earth since they hate such actions and are
        afraid of bad consequences.
      </p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col px-5">
      <h2 class="mb-3">
        How to develop Hiri and Ottappa
      </h2>
      <p>
        In order to develop a high level of Hiri and Ottappa, we have to have a strong determination, which can be
        achieved through the practice of meditation. Meditation is the best way to train our mind to be strong, firm,
        and calm at the same time. It helps the mind to calm down, be able to focus on the important issues and see
        things the way as they actually are. Especially when one attains Dhammakaya through meditation, one will feel
        spiritually happy and want others and the world to be at peace. People with a confused and agitated state of
        mind may have wrong perceptions of the things they see.
      </p>
      <p>
        Recognizing the importance of meditation in helping people to develop a better cognition of the things
        surrounding us, the Dhammakaya Foundation has proposed to the World Fellowship of Buddhist Youth that meditation
        practice should be included as one of the activities to commemorate Earth day.
      </p>
      <p>
        The slogan “Clean the world. Clean the mind” was also proposed. The committees of the association agreed with
        the proposal and support such activity. In order to propagate the practice of meditation as a way to develop
        people’s mind, the Dhammakaya Foundation, under the initiation of Phrarajabhavanavisudh, has been constructing
        the Dhammakaya Cetiya to be a meditation and gathering center at Wat Phra Dhammakaya since 1994.
      </p>
      <p>
        The Cetiya will be a place for people to meditate in order to purify their minds so that the feeling of Hiri and
        Otappa reside within them. Having purified minds, people can think clearly before doing things. As a result, it
        helps reduce the number of people whose activities deteriorate the conditions of the earth
      </p>
      <p>
        Earth Day is an annual event organized at Wat Phra Dhammakaya as affirmation that true peace and harmony in the
        world begins with inner peace. The activities throughout the day are based on the Buddha’s Teachings on
        purifying one’s mind through generosity (Dana), moral discipline (Sila) and the practice of meditation
        (Bhavana). The morning session begins at 9.30 am with a meditation session, followed by the offering of midday
        meal as Sanghadana to the monastic community and the presentation of grants to the teachers in the four southern
        provinces of Thailand as a show of support for their unwavering commitment.
      </p>
      <p>
        In the afternoon, there is a meditation session and chanting of the Dhammacakkappavattana Sutta by the venerable
        monks. The principle Dhamma of the chanting pertains to the elimination of suffering through the practice of the
        Middle Way. This will be followed by the offerings ceremony to the monastic community comprises 30,000 temples
        throughout Thailand, including monks from 300 temples in the four southern provinces. The evening culminates
        with a circumambulation of the Great Dhammakaya Cetiya as demonstration of our utmost respect and homage to the
        Lord Buddha.
      </p>
    </div>
  </div>
  <div class="row my-5">
    <div class="col text-center">
      {{#link-to "activities"}}
        <button type="button" class="btn btn-outline-primary">
          Back to activities
        </button>
      {{/link-to}}
    </div>
  </div>
</div>