<ImgBanner @src="assets/images/activities/female-training-programs/banner.png">
  <h1 class="display-3 image-banner_display">UPASIKA KAEW</h1>
</ImgBanner>
<div class="container-fluid px-5">
  <div class="row mt-5">
    <div class="col">
      <h2 class="mb-3">
        Upasika Kaew: the new generation
      </h2>
      <p>
        In Budddhism, a lady who takes refuge in the triple gem and supports the Buddhist activities is called an
        Upasika. Since the Lord Buddha’s time, Upasikas have played an important role in patronising the temples and the
        monks and are considered a part of the four main groups of Buddhists: Bhikku, Bhikkuni, Upasok, and Upasika. An
        example Upasika worth mentioning is Maha Rattana Upasika Visakha, who built Bubbharam, an important Buddhist
        temple.
      </p>
      <p>
        Upasika Kaew is a morality training program for ladies to explore the eight precepts and follow the Middle Way,
        which is a path of enlightenment and purity. The ladies who take part in this program will learn about
        disciplines and learn to keep their body and their mind pure and bright. This training program will improve the
        morality level in Buddhism as a whole.
      </p>
      <p>
        Therefore, the Religion, Art and Culture Commissioners of the House of Representatives, Wat Phra Dhammakaya, the
        Dhammakaya Foundation, the Village Leader Association of Thailand and the International Buddhist Society as well
        as the other patrons organized this 100,000 mass Upasika Kaew training program from 8-15 March, 2553 B.E. at
        training temples every province across Thailand. The aim is not only to improve ethical conduct of Thai ladies
        to be good citizens of the society they belong, but also to help revive the morality of the world.
      </p>
      <p>
        During the program, women practiced renunciation, performed wholesome deeds, and learned about the Buddhist
        Ideal and morality. The women who undertook the training can play an important role in protecting Buddhism and
        reviving world morality.
      </p>
      <p>
        Meditation centres across the world organise Upasika Kaew training programs annually. Please contact your local
        meditation centre for more information
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-3 mt-2">
      <img class="img-fluid" src="assets/images/activities/female-training-programs/female-training-programs-1.jpg" alt="" role="presentation">
    </div>
    <div class="col-sm-6 col-md-3 mt-2">
      <img class="img-fluid" src="assets/images/activities/female-training-programs/female-training-programs-2.jpg" alt="" role="presentation">
    </div>
    <div class="col-sm-6 col-md-3 mt-2">
      <img class="img-fluid" src="assets/images/activities/female-training-programs/female-training-programs-3.jpg" alt="" role="presentation">
    </div>
    <div class="col-sm-6 col-md-3 mt-2">
      <img class="img-fluid" src="assets/images/activities/female-training-programs/female-training-programs-4.jpg" alt="" role="presentation">
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <h2 class="mb-3">
        Objectives
      </h2>
      <ul>
        <li>To educate morality and ethics through Buddhist teaching and thus make Buddhist ladies understand how to
          become true Upasika
        </li>
        <li>To revive morality as well as Buddhist tradition to be as propereous as in the Lord Buddha’s time</li>
        <li>To develop sustainable peaceful community and country by simply improving their ethical conducts</li>
      </ul>
    </div>
  </div>
  <div class="row my-5">
    <div class="col text-center">
      <LinkToAndScrollNav @route="activities">
        <button type="button" class="btn btn-outline-primary">
          Back to activities
        </button>
      </LinkToAndScrollNav>
    </div>
  </div>
</div>