<ImgBanner @src="assets/images/activities/international-ordination/banner.png">
  <h1 class="display-3 image-banner_display">INTERNATIONAL ORDINATION</h1>
</ImgBanner>
<div class="container-fluid px-5">
  <div class="row mt-5">
    <div class="col lead">
      Thailand is a Buddhist Society. A major part of Thai culture steams from Buddhist heritage. From our ancestor’s
      generation, a large legacy of humble thought and traditions designed to instill sound moral values. This legacy is
      an inheritance from our past that will guide us into the future. The ritual ordination is a process whereby the
      individual raises his level of consciousness and transcends from being a follower of Triple Gem to become a part
      of the Triple Gem. Those who choose a path of ordination, therefore, will have to follow the precepts of purity
      and monastic regulations. By ordination, the individual chooses to take the first initial steps on the path toward
      living life righteously. Since, the ordained life will free individuals from daily burdens of the mundane. The
      ordained daily life is dwelled economically by life’s necessities such as foods and clothes. With this ordinary
      and simple livelihood, the ordained ones will have more time to gain knowledge, wisdom and a greater understanding
      of the world, both socially and mentally.
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <h2 class="mb-3">
        The importance of the ordination
      </h2>
      <p>
        Those who are ordained are not merely individuals who shave their heads and wear monk’s robes; they must train,
        practise and embody the teaching of the lord Buddha. This is a path to purification. The 227 precepts which are
        the rules, regulations and traditions will guide the ordained ones to differentiate themselves from the mundane.
        They help to strengthen the individual’s determination in facing life’s challenges by instilling mindfulness,
        patience and purpose in life. These precepts are the guarantees for the future, whether the individual
        subsequently chooses the path way of lay world or that of the ordained monk. The knowledge learnt during
        ordination will not be wasted or served to harm others. The strict study of Dhamma, in both theory and practice,
        lifts the individual’s consciousness to a higher level, so he may know the truth and goodness, to attain
        spiritual goals and the true meaning of life.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-3 mt-2">
      <img class="img-fluid" src="assets/images/activities/international-ordination/international-ordination-0.jpg" alt="" role="presentation">
    </div>
    <div class="col-sm-6 col-md-3 mt-2">
      <img class="img-fluid" src="assets/images/activities/international-ordination/international-ordination-1.jpg" alt="" role="presentation">
    </div>
    <div class="col-sm-6 col-md-3 mt-2">
      <img class="img-fluid" src="assets/images/activities/international-ordination/international-ordination-2.jpg" alt="" role="presentation">
    </div>
    <div class="col-sm-6 col-md-3 mt-2">
      <img class="img-fluid" src="assets/images/activities/international-ordination/international-ordination-3.jpg" alt="" role="presentation">
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <h2 class="mb-3">
        The happiness of life
      </h2>
      <p>
        The Lord Buddha blessed us with his knowledge to verify what is the true happiness in life. He defined happiness
        in this world onto two categories.
      </p>
      <ol>
        <li>
          Samisa Sukha; the happiness that depends on the material possessions such as humans (boyfriends, girlfriends,
          sons or daughters and beloved ones), animals and objects. This type of happiness is impermanent and will
          eventually bring suffering into life. The sufferings are in form of attachment, worry, jealousy, pride, pain,
          disappointment, etc.
        </li>
        <li>
          Niramisa Sukha; the happiness achieved through the Dhamma by means of insight meditation. This is the only
          form of true happiness. Ones will free from attachment and that point to the path of eternal happiness,
          Nirvana.
        </li>
      </ol>
      <p>
        Without the teaching of the Lord Buddha, the search for the true happiness would be a difficult endeavor
        indeed. Even the Lord Buddha himself spent six arduous years to discover the niramisa sukha, the true happiness.
        Finally, he concluded that one who lives worldly mundane walks on a narrow and uncomfortable path, containing of
        daily sufferings, clouded from the truth. By embracing Dhamma and Vinaya, true happiness and disciplines, one is
        bathed in the light of truth and happiness. So, one must shave head, don saffron robes and ordain into a life
        free from worldly possessions.
      </p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <h2 class="mb-3">
        Qualifications for those to be ordained
      </h2>
      <p>
        The lord Buddha gave permission to males who take the Triple Gem as a refuge to ordain. For those who wish to
        ordain as a Buddhist monk must be at least 20 years of age. Those who are under will be allowed to ordain as a
        novice. The persons forbidden from being a monk are:
      </p>
      <ol>
        <li>
          Those that are homosexuals or hermaphrodites.
        </li>
        <li>
          Those who have done wrong against Buddhism such as killed an Arahant, caused schism in monastic community and
          asked to leave monkhood before.
        </li>
        <li>
          Those who suffer from the following diseases;
          <ul>
            <li>
              Leprosy, Measles or Pox, fungus of skin.
            </li>
            <li>
              Skeletal deformity including handicapped, blind or deft.
            </li>
            <li>
              Debilitating weakness.
            </li>
          </ul>
        </li>
        <li>
          Those who have prior restrictions or commitments such as not having parental or guardian consent, or by
          reasons of royal decree
        </li>
      </ol>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <h2 class="mb-3">
        Duties and Responsibilities for Monks
      </h2>
      <p>
        The main purpose of ordination is to free one’s life from worldly commitments and worries. So, they will have
        the opportunity to commit themselves to meditation and break away from the shackles of desire until they can
        find the true happiness and path to Nirvana. To be free from worldly desire, the monk must fulfill all required
        and recommended duties based on tenets clearly specified by the Lord Buddha.
        The Lord Buddha required monks to follow the Kiccavatta (Duties) which are clearly described in the Scriptures.
        The kiccavatta(s) are described as a MUST and SHOULD of daily or regularly performing activities. If those who
        ordain as Buddhist monk perform these duties regularly, they will increase inner morality and their mind will be
        strengthened. The duties will help them to be free from worldly desire. The duties and responsibilities have
        been concluded as followings;
      </p>
      <ol>
        <li>Almsround</li>
        <li>Temple Cleaning</li>
        <li>Confession</li>
        <li>Chanting and Meditation</li>
        <li>Reflection</li>
        <li>Caring for the Preceptor</li>
        <li>Exercise and Self Maintenance</li>
        <li>Dhamma and Monastic Studies</li>
        <li>Caring for Temple Properties</li>
        <li>Behavior Worthy of Respect</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4 mt-2">
      <img class="img-fluid" src="assets/images/activities/international-ordination/international-ordination-4.jpg" alt="" role="presentation">
    </div>
    <div class="col-sm-6 col-md-4 mt-2">
      <img class="img-fluid" src="assets/images/activities/international-ordination/international-ordination-5.jpg" alt="" role="presentation">
    </div>
    <div class="col-sm-12 col-md-4 mt-2">
      <img class="img-fluid" src="assets/images/activities/international-ordination/international-ordination-6.jpg" alt="" role="presentation">
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      Wat Phra Dhammakaya was established to carry on the legacy handed down from our ancestors. Its mission is to
      have the temple to be a place that is suitable for providing an appropriate training of ordination program. The
      ordained ones will be taught how to accomplish true happiness and how to become a respectful monk. Even though
      some of them choose to be in the path of the worldly life; they can use the knowledge obtained during ordination
      for daily life’s benefit. This year is an opportunity, not only in the Dhammakaya center of Thailand but also for
      international centers like Newcastle, Manchester or London. Please contact your nearest Dhamakaya Meditation
      center and be ready to become a person of ceremony. Rejoice in your merit.
    </div>
  </div>
  <div class="row my-5">
    <div class="col text-center">
      <LinkToAndScrollNav @route="activities">
        <button type="button" class="btn btn-outline-primary">
          Back to activities
        </button>
      </LinkToAndScrollNav>
    </div>
  </div>
</div>