{{#img-banner src="assets/images/activities/kathina/banner.png"}}
  <h1 class="display-3 image-banner_display">KATHINA</h1>
{{/img-banner}}
<div class="container-fluid">
  <div class="row my-5">
    <div class="col px-5 lead">
      <p>
        Kathina-Robe Offering is a wonderful Buddhist tradition that has been preserved for thousands of years since the
        Buddha’s time. It is a practice established by the Buddha permitting the lay community to make a respectful
        offering of robes to monks who have spent three months during Buddhist Lent purifying their mind and body. The
        objective as envisioned by the Buddha was to foster harmony in the monastic community and to allow virtuous
        monks with torn robes to receive new sets. The fruit from this good deed is tremendous—as the Lord Buddha
        expounded in one of His teachings that sanghadāna, the offering of DĀNA, yields positive consequences for the
        donor.
      </p>
      <p>
        In other words, those who wish to acquire a great source of merit should perform wholesome deeds with the
        monastic community.
      </p>
    </div>
  </div>
  <div class="row my-5">
    <div class="col px-5">
      <h2 class="mb-3">
        Why Kathina?
      </h2>
      <p>
        The Vinaya, or the monastic code of discipline, states that Buddhist temples can organize a Kathina Ceremony
        only once a year. Additionally, it specifies that the organization of Kathina is restricted to a time period of
        one month after the final day of Buddhist Lent, from the 1st day of the 11thwaning moon to the 15th day of the
        12th waxing moon. Each temple can select a day within this period to organize their respective Kathina Ceremony.
      </p>
    </div>
  </div>
  <div class="row my-5">
    <div class="col px-5">
      <h2 class="mb-3">
        When does this ceremony happen?
      </h2>
      <p>
        Every year on the first Sunday of November, the Kathina-Robe Offering Ceremony is organized at the Dhammakaya
        Temple, where over thousands of venerable monks and novice monks who have earnestly observed the Buddhist Lent
        for the past three months will act as the fertile fields of merit for thousands of loyal supporters in Thailand
        and abroad in attendance. Therefore, we cordially invite everyone to come join us in the Kathina-Robe Offering.
      </p>
    </div>
  </div>
  <div class="row my-5">
    <div class="col text-center">
      {{#link-to-and-scroll-nav "activities"}}
        <button type="button" class="btn btn-outline-primary">
          Back to activities
        </button>
      {{/link-to-and-scroll-nav}}
    </div>
  </div>
</div>