<div class="container-fluid">
  <div class="row my-5">
    <div class="col text-center">
      {{#link-to "activities"}}
        <button type="button" class="btn btn-outline-primary">
          Back to activities
        </button>
      {{/link-to}}
    </div>
  </div>
</div>