{{#img-banner src="assets/images/activities/magha-puja/banner.png"}}
  <h1 class="display-3 image-banner_display">MAGHA PUJA</h1>
{{/img-banner}}
<div class="container-fluid px-5">
  <div class="row mt-5">
    <div class="col">
      <h2 class="mb-3">
        What is Magha Puja?
      </h2>
      <p>
        Magha Puja is an important religious festival celebrated by Buddhists on the full moon day of the third lunar
        Month for more than 2500 years. It marks the four auspicious occasions which happened nine months after the
        Enlightenment of the Buddha near Rājagaha in Northern India.
      </p>
      <ol>
        <li>It was the full-moon day of the third lunar month.</li>
        <li>
          There were 1,250 Arahants, the enlightened disciple monks, who came to see the Lord Buddha that evening
          without any prior arrangement.
        </li>
        <li>All of them were ordained by the Buddha himself.</li>
        <li>
          The Buddha delivered a sermon called the “Ovada Patimokkha” which includes the fundamental ideology, the
          moral standards and the conducts of Buddhism.
        </li>
      </ol>
      <p>
        The Buddhist ideology is the ultimate objective of every Buddhist. As outlined in the Lord Buddha’s sermon,
        Buddhist ideology comprises the following:
      </p>
      <ol>
        <li>
          We should be patient in order to reach our achievement. As our life may be burdened by suffering, we should be
          patient. Furthermore, patience toward sensual desire can prevent us from sensual indulgence.
        </li>
        <li>All the Lord Buddhas have taught that Nirvana is the state of supreme bliss.</li>
        <li>Monks who kill or harm other living beings do not deserve to be monks.</li>
      </ol>
      <p>
        Subsequently the Lord Buddha suggested the following moral standards:
      </p>
      <ol>
        <li>
          Abstaining from misdeeds because the Law of Karma still controls us. If we break precepts or commit bad deeds,
          karmic retribution will return to us either in this lifetime or during a future lifetime.
        </li>
        <li>
          Doing only good deeds. When the karma from good deeds bears fruit, our life will be joyful, prosperous and
          successful.
        </li>
        <li>
          Purifying our mind by practicing meditation. This is the only way that we are able to attain true happiness
          and Nirvana.
        </li>
      </ol>
      <p>
        Finally, he recommended the conducts which his disciples should obey.
      </p>
      <ol>
        <li>
          The propagation of Buddhism should be made without insulting or making slanderous allegations against each
          other.
        </li>
        <li>
          The propagation of Buddhism should be made without assaulting or harming each other.
        </li>
        <li>
          Buddhists should observe the precepts. In particular, Buddhist monks must observe all 227 precepts.
        </li>
        <li>
          One should be content in consuming food.
        </li>
        <li>
          One should live in a tranquil place which is suitable for meditation practice.
        </li>
        <li>
          One should always practice mindfulness even when standing, walking, sitting, or sleeping.
        </li>
      </ol>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <h2 class="mb-3">
        Lighting Lanterns to Cultivate Faith and Wisdom
      </h2>
      <p>
        The light of faith and wisdom that we light up in homage to the Triple Gem represents our faithful heart with
        realization in the Lord Buddha’s virtues. We humbly offer the light to worship his compassion, purity and wisdom
        as he knew the truth of life thoroughly. Nothing could conceal his insight power. As we worship him with
        respect, we will receive merit in return. The merit from paying homage to the wholesome one will enable us to be
        prosperous and successful in our lives. The gift of light will allow us to have beautiful eyes, superb vision,
        beautiful radiance, a bright mind, luminous wisdom and, ultimately, attain the Buddhahood or Dhammakaya inside
        ourselves.
      </p>
      <p>
        According to the Buddhist scripture, there was once a lady who faithfully lit lanterns to pay homage to the Lord
        Buddha. Later on, her good karma caused her to be reborn as a beautiful lady with a golden subtle complexion.
        Radiance glowed from her body constantly. Even when she was in the dark, she was able to see things because of
        her own radiance. After she ordained to become a Bhikkhuni (female Buddhist monk), she managed to attain
        enlightenment quickly and went on to become a female disciple monk who was recognized by the Lord Buddha as the
        one who was excellent in recalling past lifetimes. From this story, we can conclude that the act of worship to
        the Triple Gem is indeed the opportunity to develop our own mind by realizing and welcoming the wholesomeness of
        the Triple Gem into our own heart, similar to opening the lid of a crystal jar to receive drops of clean rain
        from the sky. We do not only believe in what we do, but we also understand why we do it. This is why the act of
        worship allows us to cultivate both faith and wisdom simultaneously.
      </p>
      <p>
        You are cordially invited to join the Magha Puja Day ceremony at the Dhammakaya Meditation Centre of Newcastle!
        Magha Puja Day is one of the most important Buddhist holy days in Thailand. Every temple across country holds a
        ceremony to celebrate the occasion. The ceremony at Wat Phra Dhammakaya is one of the largest held in Thailand
        which main Light For Peace.
      </p>
    </div>
  </div>
  <div class="row my-5">
    <div class="col text-center">
      {{#link-to-and-scroll-nav "activities"}}
        <button type="button" class="btn btn-outline-primary">
          Back to activities
        </button>
      {{/link-to-and-scroll-nav}}
    </div>
  </div>
</div>