<ImgBanner @src="assets/images/activities/mass-ordination/banner.png">
  <h1 class="display-3 image-banner_display">MASS ORDINATION</h1>
</ImgBanner>
<div class="container-fluid px-5">
  <div class="row mt-5">
    <div class="col">
      <h2 class="mb-3">
        The Purpose
      </h2>
      <p>
        In order to maintain Buddhism in Thailand, Buddhist monks have to collaborate to spread Lord Buddha’s teachings.
        However, according to an official record of the National Office of Buddhism, dated 1 June 2009, there are 5,937
        deserted temples in Thailand. Mainly because fewer people are entering monkhood. When people spend less than a
        month in monkhood, they do not have sufficient time to train themselves and to study Dhamma profoundly. As a
        result, very few people are aware of the true value of ordination. More over, these days very few employers
        allow their employees to take a three-month leave of absence to be ordained as monks during the Rains Retreat
        period. Hence, there are very few ordainees to propagate Buddhist teachings, resulting in the critical situation
        of Buddhism in Thailand.
      </p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <h2 class="mb-3">
        How does mass ordination happen?
      </h2>
      <p>
        Therefore, in order to produce the new generation of Buddhist monks to become the troop of Buddhism, Wat Phra
        Dhammakaya held a mass ordination of 7,000 monks from 7,000 villages throughout Thailand in year 2552 B.E. (2009
        A.D.) and over 10,000 people were interested in participation. In consequence, Wat Phra Dhammakaya continued to
        arrange appropriate trainings for the rest of people interested.
      </p>
      <p>
        And in year 2553 B.E. (2010 A.D.), the mass ordination of 100,000 monks from 70,000 villages started twice a
        year—one in summer and the other one during the rains-retreat. Every year, there are a lot of people interested
        to participate in the program and even extend their stay in monkhood and are assigned to different temples in
        their hometowns, resulting in the decreasing numbers of deserted temples.
      </p>
      <p>
        In the most recent record of the National Office of Buddhism, in November 2557 B.E. (2014 A.D.), the numbers of
        deserted temples had been decreased down to only 4,000 temples.
      </p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe title="mass ordination video" width="560" height="315" src="https://www.youtube.com/embed/pTY860kh3U0" frameborder="0"
                allow="encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <ImgBanner @src="assets/images/activities/mass-ordination/image-1.jpg"/>
    </div>
  </div>
  <div class="row my-5">
    <div class="col text-center">
      <LinkToAndScrollNav @route="activities">
        <button type="button" class="btn btn-outline-primary">
          Back to activities
        </button>
      </LinkToAndScrollNav>
    </div>
  </div>
</div>