{{#img-banner src="assets/images/activities/meditation-retreat/banner.png"}}
  <h1 class="display-3 image-banner_display">MEDITATION RETREAT</h1>
{{/img-banner}}
<div class="container-fluid px-5">
  <div class="row mt-5">
    <div class="col">
      <span class="lead">Make the time to step out of your daily routine. Give yourself a unique occasion to reflect and be restored by the beauty and tranquility of nature. This is your chance to truly relax and search for the real meaning of your life.</span>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <h2 class="mb-3">
        The Middle Way Meditation
      </h2>
      <p>
        The Middle Way Meditation Institute organizes meditation retreats for international people who are new to the
        practice or those who would like to hide away from hectic lifestyle and cultivate their own inner peace. The
        retreat program was put together for foreigners who love inner peace to have the opportunity to practice the
        fundamentals of meditation and have a chance to learn Dhamma, that is universal for all and put it to use to
        benefit their daily lives.
      </p>
      <p>
        At the retreat, the participants were trained to meditate and learn the principles of Universal Goodness. They
        also learned valuable Buddhist culture and disciplines such as paying respect to monks, wiping and cleaning
        dishes thoroughly, and placing shoes in an orderly row. Everyone could adapt such knowledge into their daily
        lives in their own countries. The teaching monks also taught Dhamma suitable for the occasion to help the
        participants progress in their meditation.
      </p>
      <p>
        Moreover, this program offered a variety of special activities including yoga, soap bubble blowing, offering
        food to the monks, and sharing meditation obstacles and experiences . The teaching monk kindly gave advice and
        solutions to obstacles and provided techniques to allow participants to progress in their meditation. Each
        participant was able to improve their meditation.
      </p>
      <p>
        Meditation centres across the world organise meditation retreat programs annually. Please contact your local
        meditation centre for more information
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4 mt-2">
      <img class="img-fluid" src="assets/images/activities/meditation-retreat/meditation-retreat-1.jpg">
    </div>
    <div class="col-12 col-md-4 mt-2">
      <img class="img-fluid" src="assets/images/activities/meditation-retreat/meditation-retreat-2.jpg">
    </div>
    <div class="col-12 col-md-4 mt-2">
      <img class="img-fluid" src="assets/images/activities/meditation-retreat/meditation-retreat-3.jpg">
    </div>
  </div>
  <div class="row my-5">
    <div class="col text-center">
      {{#link-to-and-scroll-nav "activities"}}
        <button type="button" class="btn btn-outline-primary">
          Back to activities
        </button>
      {{/link-to-and-scroll-nav}}
    </div>
  </div>
</div>