<ImgBanner @src="assets/images/activities/meditation-retreat/banner.png">
  <h1 class="display-3 image-banner_display">MEDITATION RETREAT</h1>
</ImgBanner>
<div class="container-fluid px-5">
  <div class="row mt-5">
    <div class="col">
      <span class="lead">Make the time to step out of your daily routine. Give yourself a unique occasion to reflect and be restored by the beauty and tranquility of nature. This is your chance to truly relax and search for the real meaning of your life.</span>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <h2>What do you learn?</h2>
      <p>
        Dhammakaya Meditation Centres organize meditation retreats for people who are new to the practice or those who
        would like to hide away from hectic lifestyle to cultivate their own inner peace. The retreat program was put
        together for people who love inner peace, to provide the opportunity to practice the fundamentals of meditation,
        and to provide a chance to learn Dhamma that is universal for all to benefit our daily lives.
      </p>
      <p>
        Participants will learn how to meditate in a peaceful environment with a Buddhist monk. Meditation will be
        taught using The Middle Way technique, also known as the Dhammakaya technique in Thailand. This technique
        emphasises on comfort. Within a comfortable environment, can people's minds become truly calm and peaceful.
      </p>
      <p>
        Throughout the meditation retreat, there will be sessions of teaching and meditation practice. Participants can
        also personally request coaching to guide and tune the mind effectively. Participants are encouraged to ask
        questions concerning meditation, how to apply teachings into everyday life, and Buddhism to teaching monks.
      </p>
      <p>
        Participants will also learn valuable Buddhist culture and disciplines such as paying respect to monks, wiping
        and cleaning dishes thoroughly, and placing shoes in an orderly row. Everyone could adapt such knowledge into
        their daily lives in their own countries.
      </p>
      <p>
        Moreover, this program offers a variety of special activities including yoga, soap bubble blowing, offering
        food to the monks, and sharing meditation obstacles and experiences. The teaching monk will kindly give advice
        and solutions to obstacles and provide techniques to allow participants to progress in their meditation.
      </p>
      <h2 class="mt-5">Overview</h2>
      <p>
        Everyone is welcome to join the retreat, regardless of your ethnicity, or religious background. The minimum age
        requirement is 18, however there may be youth camps available for younger students. We request that all
        participants be in a good state of health and comfortable in rustic surroundings with a genuine desire to lean
        and practice meditation. <u>All participants are requested to take two meals a day to support your meditation
        practice and abstain from smoking and drinking alcohol</u>
      </p>
      <h2 class="mt-5">Fee?</h2>
      <p>
        Fees are kept to a minimum and will be used just for the cost of the retreat. Fees cover all meals and
        accommodation. If you are not able to cover the fee, please contact us and we can offer a lower supported fee.
        For those that would like to be a benefactor, we provide a sponsor fee which allows you to help others come to
        the retreat who cannot afford the fee.
      </p>
      <h2 class="mt-5">What do I need to bring?</h2>
      <ul>
        <li>Personal items, bathing equipment and towels</li>
        <li>Personal meditation</li>
        <li>Warm clothing</li>
        <li>
          Loose, simple, and comfortable clothing (preferably in white or light colours). Transparent or revealing
          clothes should not be worn in the retreat. This includes sleeveless shirts and shorts
        </li>
        <li>Individual bottle / flash for water</li>
      </ul>
      <p class="my-5">
        Meditation centres across the world organise meditation retreat programs annually. Please
        <LinkToAndScrollNav @route="contact">contact us</LinkToAndScrollNav>
        or your local meditation centre
        for more information
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4 mt-2">
      <img class="img-fluid" src="assets/images/activities/meditation-retreat/meditation-retreat-1.jpg" alt="" role="presentation">
    </div>
    <div class="col-12 col-md-4 mt-2">
      <img class="img-fluid" src="assets/images/activities/meditation-retreat/meditation-retreat-2.jpg" alt="" role="presentation">
    </div>
    <div class="col-12 col-md-4 mt-2">
      <img class="img-fluid" src="assets/images/activities/meditation-retreat/meditation-retreat-3.jpg" alt="" role="presentation">
    </div>
  </div>
  <div class="row my-5">
    <div class="col text-center">
      <LinkToAndScrollNav @route="activities">
        <button type="button" class="btn btn-outline-primary">
          Back to activities
        </button>
      </LinkToAndScrollNav>
    </div>
  </div>
</div>