<ImgBanner @src="assets/images/activities/pali-commemoration/banner.png">
  <h1 class="display-3 image-banner_display">PALI COMMEMORATION</h1>
</ImgBanner>
<div class="container-fluid px-5">
  <div class="row mt-5">
    <div class="col">
      <p>
        Phrathepyanmahamuni and the Dhammakaya Foundation have been awarding scholarships to the Pali Schools nationwide
        for 19 consecutive years since 1988. We hold the celebration ceremony for the “World-Class” Level 9 (highest)
        Pali Graduates annually during World Meditation Day.
      </p>
      <p>
        The Dhamma teachings of the Lord Buddha have been restored and maintained in the Pali language. We hope, with
        our continuous efforts to promote Pali Studies, the Dhamma will be pure and not be distorted over thousands and
        thousands of years to come. In addition to the restoration, we can spread Dhamma far and wide to benefit all
        Buddhists and all mankind.
      </p>
    </div>
  </div>
  <div class="row my-5">
    <div class="col text-center">
      <LinkToAndScrollNav @route="activities">
        <button type="button" class="btn btn-outline-primary">
          Back to activities
        </button>
      </LinkToAndScrollNav>
    </div>
  </div>
</div>