{{#img-banner src="assets/images/activities/visakha-bucha/banner.jpg"}}
  <h1 class="display-3 image-banner_display">VISAKHA BUCHA</h1>
{{/img-banner}}
<div class="container-fluid">
  <div class="row mt-5">
    <div class="col px-5 lead">
      Visakha Puja Day is one of the most important days in Buddhism and for Buddhists. It is the day Buddhists assemble
      to commemorate the life of the Buddha, and to give reverence to His purity, profound wisdom and immense compassion
      for all humankind and living beings by reflecting and using His teachings as guidelines for their lives.
      Visakha Puja Day also marks the anniversary of three significant events in the life of the Buddha – His Birth,
      Enlightenment, and Attainment of Complete Nirvana – that occurred on the 15th day of the 6th waxing moon.
    </div>
  </div>
  <div class="row mt-5">
    <div class="col px-5">
      <h2 class="mb-3">
        His Birth
      </h2>
      <p>
        When Queen Sirimahamaya, King Suddhodana’s Royal Consort, was due to give birth, she returned to her home in
        Devadaha City for the childbirth as it was a royal tradition. Along the journey, she stopped to rest under the
        sala trees in Lumbini Park. As she was standing and holding on to a tree branch, she gave birth to a prince. The
        birth occurred on a full moon day of the sixth lunar month eighty years before the beginning of the Buddhist
        Era. When the prince was five days old, he was bestowed the name Siddhattha – meaning ‘fulfillment’.
      </p>
      <p>
        News of Prince Siddhattha’s birth spread quickly, eventually reaching Hermit Asitha, an acquaintance of King
        Suddhodana residing in the Himalayas. Hermit Asitha requested a visitation to see the newborn prince. When he
        saw the prince, he predicted that the prince would be self-enlightened and discover the path to Nibbana, and
        eventually become the Buddha. The prince would teach the people the way to end suffering and spread love and
        kindness to all humankind. After presenting his prediction, Hermit Asitha bowed respectfully at the prince’s
        feet. Witnessing the act, King Suddhodana was overjoyed and bowed to the prince as well. Later, the King invited
        eight Brahmin scholars specializing in astrology to examine and predict Prince Siddhattha’s destiny. Seven of
        them predicted that the prince will become a Supreme Emperor if he assumes the throne; however, if he decides to
        ordain, he will become the Buddha. However, Konddanya, the youngest of the Brahmins, prophesied that the prince
        will choose the latter path and become the Buddha.
      </p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col px-5">
      <h2 class="mb-3">
        His Enlightenment
      </h2>
      <p>
        King Suddhodana wished for Prince Siddhattha to continue the reign of the kingdom and to eventually become the
        Supreme Emperor. He provided every luxury his son could ever want in the three palaces (for seasonal occupation)
        that were filled with beautiful royal consorts in an effort to shield the prince from witnessing any forms of
        suffering and sadness that would lead to apathy and a desire to ordain. The opulent life of the prince was
        filled with beauty, wealth, royal attendants, prestige, fame, and bliss.
      </p>
      <p>
        One day, when Prince Siddhattha was 29 years old, he rode his horse outside the palace and encountered an aging
        person, a sick person, a corpse and an ascetic. The sight of the aged, diseased and the dead caused him to
        reflect on the uncertainties and suffering in the lives of human beings. But upon seeing the ascetic, an
        individual seeking escape from the suffering, Prince Siddhattha was moved by that lifestyle and aspired to
        become ordained one day.
      </p>
      <p>
        Soon after, Princess Yasodhara, the prince’s royal consort, gave birth to a son who was given the nameRahul,
        meaning ‘fetter’. This name was chosen because Prince Siddhattha realized that if he did not ordain now, his
        love and obligation to his wife and son would ultimately bound and prevent him from ever ordaining. That
        evening, he decided to leave the palace in order to ordain and search for the path to overcome suffering.
      </p>
      <p>
        Six years after departing the palace to ordain and spending time searching arduously, Prince Siddhattha attained
        enlightenment under the Bodhi tree along the banks of Neranjara River on the full moon night of the sixth lunar
        month, and became the Buddha at the age of thirty-five. During the first meditative stage, he attained the
        ability to recount every past lifetime that he was ever born; in the middle stage he attained what is called
        ‘the divine eye’ and acquired the ability to see past lives of all living creatures in the cycle of existence,
        or samsara. In the final meditative stage, he was able to eliminate all his defilements through the wisdom he
        gained; Prince Siddhattha was now fully enlightened and became the Buddha. At the present day, the place where
        he attained enlightenment is in the town of Bodh Gaya, located in Gaya City in the Indian state of Bihar.
      </p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col px-5">
      <h2 class="mb-3">
        His Attainment of Complete Nirvana
      </h2>
      <p>
        After attaining enlightenment, the Buddha taught about the nature of the world, or Dhamma, to the people for the
        next 45 years until he was 80. On the full moon night of the sixth month, as the Buddha rested in Kusinara City
        of the Malla Kingdom, he delivered his final discourse as follows: “Behold monks, naturally all conditioned
        things must undergo changes. Strive to work hard to benefit yourself and humankind, and by not being reckless.”
        He then entered Complete Nirvana on the full moon night of the sixth lunar month. The location where the Buddha
        attained Complete Nirvana is in Kushinagar District in the Indian state of Uttar Pradesh.
      </p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col px-5">
      <h2 class="mb-3">
        Visakha Puja Day (Vesak) and the United Nations
      </h2>
      <p>
        On 13 December 1999 (2542 B.E.), the General Assembly of the United Nations officially recognized Visakha Puja
        Day, or Vesak Day as traditionally known by Sri Lankans, as an International Day of the World. Sri Lanka was a
        key member of the original group of co-sponsors for a resolution requesting the United Nations to recognize
        Vesak as a special day. The goal is to make Vesak internationally known as the day Buddhists throughout the
        world assembled to perform meritorious deeds and to commemorate the Buddha’s Birth, Enlightenment, and
        Attainment of Complete Nibbana. It is also to acknowledge the Buddha as a benevolent human being endowed with
        great wisdom and immense compassion and goodwill for all living beings. The Buddha encouraged all religious
        groups to examine His teaching and to verify the truth for themselves, without the need to abandon their own
        faith. He taught and shared His great wisdom to all living beings without seeking anything in return.
      </p>
      <p>
        Dhammakaya temple and the Dhammakaya Foundation will organize Visakha Puja Day Ceremony (Vesak) as recognition
        of the boundless compassion of the Buddha, the Most Exalted One and Teacher to all humankind and celestial
        beings. You are warmly invited to participate in Visakha Puja Day Ceremony that includes the offering of
        donation, observation of the precepts, meditation practice and circumambulation of the Grand Meditation Stadium,
        as commemoration of the Buddha’s Birth, Enlightenment, and Attainment of Complete Nibbana. For more information,
        please contact us via our details on the {{#link-to-and-scroll-nav "contact"}}contact{{/link-to-and-scroll-nav}} page.
      </p>
    </div>
  </div>
  <div class="row my-5">
    <div class="col text-center">
      {{#link-to-and-scroll-nav "activities"}}
        <button type="button" class="btn btn-outline-primary">
          Back to activities
        </button>
      {{/link-to-and-scroll-nav}}
    </div>
  </div>
</div>