.image-banner {
  height: 400px;
  background-position: center;

  &_content {
    height: 100%;
  }

  &_display {
    padding: 1rem;
    border-radius: 2px;
    background: rgb(255, 255, 255) transparent;
    background: rgba(255, 255, 255, 0.8);

    @include media-breakpoint-down(xs) {
      font-size: 2.5rem;
    }
  }
}
