$toggler-colour: darken($newcastle-blue, 10);
$toggler-icon-bg: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$toggler-colour}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23") !default;

.navbar {
  background-color: #FAFAFA;
  box-shadow: 0px 0px 4px 0px;

  .navbar-toggler {
    color: $toggler-colour;
    border-color: $toggler-colour;

    .navbar-toggler-icon {
      background-image: $toggler-icon-bg;
    }
  }

  .nav-item {
    cursor: pointer;

    &.active,
    &:hover {
      color: $white;
    }

    &.active {
      background-color: $newcastle-blue;
    }

    &:hover {
      background-color: lighten($newcastle-blue, 10);
    }

    .nav-link {
      white-space: nowrap;
    }
  }
}

@include media-breakpoint-down(sm) {
  .navbar {
    .navbar-nav {
      margin-top: 8px;
    }

    .nav-item {
      text-align: center;
    }
  }
}
