<ImgBanner @src="assets/images/teachings_cover.jpg" @backgroundPosition="top center">
  <h1 class="display-3 image-banner_display">TEACHINGS</h1>
</ImgBanner>
<div class="container-fluid">
  <div class="row">
    <div class="col lead my-5 px-5">
      Every week, group meditation and short teachings will be conducted by experienced Theravada Buddhist monks. All
      are welcome to join and learn meditation together, as well as meet other meditators.
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4 mt-4 px-4">
      <h5>Meditation for Relaxation</h5>
      <div class="text-muted">Beginner meditation classes</div>
      <div>Tuesday night</div>
      <div>7.00 - 8.30pm</div>
      <div>Difficulty: *</div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mt-4 px-4">
      <h5>Buddhist Chanting and Meditation</h5>
      <div>Thursday night</div>
      <div>7.00 - 8.30pm</div>
      <div>Difficulty: **</div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mt-4 px-4">
      <h5>Buddhist Wisdom and Meditation</h5>
      <div>Saturday night</div>
      <div>6.00 - 8.00pm</div>
      <div>Difficulty: **</div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mt-4 px-4">
      <h5>Meditation via Zoom</h5>
      <div class="text-muted">Beginner meditation classes</div>
      <div>Saturday night</div>
      <div>7.00 - 8.20pm</div>
      <div>Difficulty: *</div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mt-4 px-4">
      <h5>Weekend Meditation</h5>
      <div>Sunday</div>
      <div>2.30 - 4.00pm</div>
      <div>Difficulty: *</div>
    </div>
    <div class="col-12 mt-5 px-5 text-center text-muted">
      <div>* This class does not require any prior meditation experience. Everyone is welcome.</div>
      <div>** This class does require some meditation experience. You should have a good understanding of how to practice meditation.</div>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-12 text-center">
      <LinkToAndScrollNav @route="teachings.meditation-benefits">
        <button type="button" class="btn btn-outline-primary mt-1">
          Learn more about the benefits
        </button>
      </LinkToAndScrollNav>
      <LinkToAndScrollNav @route="support">
        <button type="button" class="btn btn-outline-primary mt-1">
          Support the temple
        </button>
      </LinkToAndScrollNav>
    </div>
  </div>
</div>