{{#img-banner src="assets/images/teachings/meditation-benefits_banner.jpg" backgroundPosition="top center"}}
  <h1 class="display-3 image-banner_display">MEDITATION BENEFITS</h1>
{{/img-banner}}
<div class="container-fluid">
  <div class="row mt-5">
    <div class="col text-center">
      <div class="lead">Allow yourself to slow down and find inner peace within.</div>
      <div class="lead">Quite simply, meditation helps you to:</div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <ul class="list-group list-group-flush align-items-center">
        <li class="list-group-item">Reduce feelings of anxiety, stress, and being overwhelmed</li>
        <li class="list-group-item">Get greater clarity of mind and perspective in life</li>
        <li class="list-group-item">Turn off the mental chatter and experience peace of mind</li>
        <li class="list-group-item">Feel emotionally well, centred, and happy</li>
        <li class="list-group-item">Become more resilient to challenges in relationships and life</li>
        <li class="list-group-item">Be liberated from fears and needless worries</li>
        <li class="list-group-item">Be less reactive, less irritable, less triggered</li>
        <li class="list-group-item">Be more empowered to be yourself and manifest your potential</li>
        <li class="list-group-item">Develop the ability to focus and avoid procrastination/distraction</li>
        <li class="list-group-item">Accept yourself, accept others, and accept things you cannot change</li>
        <li class="list-group-item">Grow and awaken spiritually</li>
      </ul>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col text-center">
      <div class="lead">Imagine how your life would be, if you embraced these benefits...</div>
    </div>
  </div>
  <div class="row my-5">
    <div class="col text-center">
      {{#link-to-and-scroll-nav "teachings"}}
        <button type="button" class="btn btn-outline-primary">
          Back to teachings
        </button>
      {{/link-to-and-scroll-nav}}
    </div>
  </div>
</div>