<div class="container-fluid">
  <div class="row mt-4">
    <div class="col px-5">
      <div class="lead">Allow yourself to slow down and find inner peace within</div>
    </div>
  </div>
  <div class="row my-4">
    <div class="col px-5">
      <div>Quite simply, meditation helps you to:</div>
      <ul>
        <li>Reduce feelings of anxiety, stress, and being overwhelmed</li>
        <li>Get greater clarity of mind and perspective in life</li>
        <li>Turn off the mental chatter and experience peace of mind</li>
        <li>Feel emotionally well, centred, and happy.</li>
        <li>Become more resilient to challenges in relationships and life</li>
        <li>Be liberated from fears and needless worries</li>
        <li>Be less reactive, less irritable, less triggered</li>
        <li>Be more empowered to be yourself and manifest your potential</li>
        <li>Develop the ability to focus and avoid procrastination/distraction</li>
        <li>Accept yourself, accept others, and accept things you cannot change</li>
        <li>Grow and awaken spiritually</li>
      </ul>
      <div>Imagine how your life would be if you could have some of that as well...</div>
    </div>
  </div>
</div>