<div class="container-fluid">
  <div class="row mt-4">
    <div class="col text-center">
      <div class="lead">Allow yourself to slow down and find inner peace within</div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col text-center">
      <div class="lead">Quite simply, meditation helps you to:</div>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-12 text-center separated-list">
      <div><span>Reduce feelings of anxiety, stress, and being overwhelmed</span></div>
      <div><span>Get greater clarity of mind and perspective in life</span></div>
      <div><span>Turn off the mental chatter and experience peace of mind</span></div>
      <div><span>Feel emotionally well, centred, and happy.</span></div>
      <div><span>Become more resilient to challenges in relationships and life</span></div>
      <div><span>Be liberated from fears and needless worries</span></div>
      <div><span>Be less reactive, less irritable, less triggered</span></div>
      <div><span>Be more empowered to be yourself and manifest your potential</span></div>
      <div><span>Develop the ability to focus and avoid procrastination/distraction</span></div>
      <div><span>Accept yourself, accept others, and accept things you cannot change</span></div>
      <div><span>Grow and awaken spiritually</span></div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col text-center">
      <div class="lead">Imagine how your life would be if you could have some of that as well...</div>
    </div>
  </div>
  <div class="row my-5">
    <div class="col text-center">
      {{#link-to "teachings"}}
        <button type="button" class="btn btn-outline-primary">
          Back to teachings
        </button>
      {{/link-to}}
    </div>
  </div>
</div>