@mixin radial-gradient($innerColor, $outerColor)  {
  background-color: $outerColor;
  background-image: -webkit-gradient(radial, center center, 0, center center, 1000, from($innerColor), to($outerColor));
  background-image: -webkit-radial-gradient(circle, $innerColor, $outerColor);
  background-image: -moz-radial-gradient(circle, $innerColor, $outerColor);
  background-image: -o-radial-gradient(circle, $innerColor, $outerColor);
  background-repeat: no-repeat;
}
