<div class="container-fluid">
  <div class="row my-5">
    <div class="col text-center">
      <h1 class=" display-4">Meditation Retreat</h1>
      <div class="text-muted">at Dhammakaya Meditation Centre of Newcastle</div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-12 offset-sm-1 col-sm-10 offset-md-2 col-md-8">
      <img class="img-fluid w-100" src="assets/images/events/meditation-retreat/detail.png">
    </div>
    <div class="col-12 offset-sm-1 col-sm-10 offset-md-2 col-md-8">
      <img class="img-fluid w-100" src="assets/images/events/meditation-retreat/timetable.jpg">
    </div>
  </div>
  <div class="row mt-5">
    <div class="col text-center">
        <a href="http://bit.ly/2FHZS5b" class="btn btn-primary">Register here</a>
    </div>
  </div>
  <div class="row my-5">
    <div class="col text-center">
      {{#link-to-and-scroll-nav "index"}}
        <button type="button" class="btn btn-outline-primary">
          Back to home
        </button>
      {{/link-to-and-scroll-nav}}
    </div>
  </div>
</div>