<ImgBanner @src={{this.model.data.coverImage}}/>
<div class="container-fluid px-5">
  <div class="row my-5">
    <div class="col">
      <h2>{{this.model.data.title}}</h2>
    </div>
  </div>
  {{this.safeContent}}
  <div class="row my-5">
    <div class="col text-center">
      <LinkToAndScrollNav @route="news">
        <button type="button" class="btn btn-outline-primary">
          Back to news
        </button>
      </LinkToAndScrollNav>
    </div>
  </div>
</div>