{{#img-banner src="assets/images/news_cover.jpg"}}
  <h1 class="display-3 image-banner_display">NEWS</h1>
{{/img-banner}}
<div class="container-fluid">
  <div class="row">
    {{#each recentToOldArticles as |article|}}
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-5">
        {{article-card article=article}}
      </div>
    {{/each}}
  </div>
</div>