{{#img-banner src="assets/images/news_cover.jpg"}}
  <h1 class="display-3 image-banner_display">NEWS</h1>
{{/img-banner}}
<div class="container-fluid">
  <div class="row">
    {{#each model as |article|}}
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-5">
        <div class="card">
          <img class="card-img-top" src="{{article.coverImage}}">
          <div class="card-body">
            <h4 class="card-title">{{article.title}}</h4>
            <p class="card-text">
              {{article.description}}
            </p>
            {{#link-to-and-scroll-nav "news.article" article.year article.month article.day article.id class="card-link"}}
              Read more
            {{/link-to-and-scroll-nav}}
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>