<ImgBanner @src="assets/images/news_cover.jpg">
  <h1 class="display-3 image-banner_display">NEWS</h1>
</ImgBanner>
<div class="container-fluid">
  <div class="row">
    {{#each this.recentToOldArticles as |article|}}
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-5">
        <ArticleCard @article={{article}} />
      </div>
    {{/each}}
  </div>
</div>