{{#img-banner src="assets/images/about-us_cover.jpg"}}
  <h1 class="display-3 image-banner_display">ABOUT</h1>
{{/img-banner}}
<div class="container-fluid">
  <div class="row mt-5">
    <div class="col px-5">
      <h2 class="mb-3">
        Vision: World Peace Through Inner Peace
      </h2>
      <div class="text-justify">
        <p>
          Dhammakaya Foundation is a non-profit organisation, based on personal development, aiming to promote
          activities for the restoration of morality in individuals, families, societies and the world.
        </p>
        <p>
          In many ways peace is one of the most sought after commodities in the world. This is perhaps because true
          peace is so rarely found. Humanity seeks for peace in all places: books, music, exotic destinations,
          companionship. We even spend great amounts of money in this pursuit. However, the greatest miracle of a human
          being is that PEACE is always within reach. In fact, it does not lie any further than where you are right now.
          The key to peace lies in its SIMPLICITY. To find peace, one only needs to close one’s eyes and become STILL.
        </p>
        <blockquote class="blockquote text-center">
          <p class="mb-0">
            When the mind of each person in this world knows true peace, the world will know peace. When the mind is
            peaceful it will start to see the true cause of peace, and at the same time the true cause of war. With this
            clarity, we can finally put an end to conflict, greed, and anger and usher in an era of peace. Once we know
            peace for ourselves, it will be reflected in our thoughts, our speech and in our actions. Love and good
            intention for mankind will arise and we will become the center of peace for people all around us, like the sun
            shining warm light to big and small stars, both near and far.
            <footer class="blockquote-footer"><cite title="Source Title">Luang Por Dhammajayo</cite></footer>
          </p>
        </blockquote>
        <p>
          Peace already exists – WITHIN US. It is always there in everyone, no matter who you are, where you live, or
          what you believe. We only need to be aware of it. Each human being has the potential to look within, to be
          still, to experience peace. We can see for ourselves that the road that will lead to world peace lies within
          our INNER PEACE. And the journey starts right now...
        </p>
      </div>
    </div>
  </div>
</div>