<img src="assets/images/logo.png" class="img-fluid mx-auto d-block" alt="Newcastle Dhammakaya meditation logo">
{{nav-bar}}
{{outlet}}
<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col lead">
        Dhammakaya Meditation Centre of Newcastle
      </div>
    </div>
    <div class="row text-muted">
      <div class="col-12 col-sm-6 mt-3">
        <address>
          Dhammakaya Meditation Centre of Newcastle<br>
          Church street<br>
          Hebburn, Tyne and Wear<br>
          NE31 1DR<br>
        </address>
        <a href="tel:01914 203981">01914 203981</a><br>
        <a href="mailto:dmcnewcastle@gmail.com">dmcnewcastle@gmail.com</a><br>
        Charity number: 1174069
      </div>
      <div class="col-12 col-sm-6 mt-3">
        World peace through inner peace. A non-profit organisation located in Hebburn, South Tyneside, whose purpose is
        to teach meditation for world peace.
      </div>
    </div>
  </div>
</footer>

<div id="modal-wormhole">
</div>