{{! template-lint-disable no-invalid-interactive link-href-attributes}}
<nav class="navbar navbar-expand-md">
  <LinkTo @route="index" class="navbar-brand">
    <img src="assets/images/logo.png" width="30" height="30" alt="" role="presentation">
  </LinkTo>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-toggle"
          aria-controls="navbar-toggle" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbar-toggle">
    <ul class="navbar-nav" {{on "click" this.collapseNav}}>
      <LinkTo @route="index" @tagName="li" class="nav-item">
        <a class="nav-link">HOME</a>
      </LinkTo>
      <LinkTo @route="about-us" @tagName="li" class="nav-item">
        <a class="nav-link">ABOUT US</a>
      </LinkTo>
      <LinkTo @route="teachings" @tagName="li" class="nav-item">
        <a class="nav-link">TEACHINGS</a>
      </LinkTo>
      <LinkTo @route="activities" @tagName="li" class="nav-item">
        <a class="nav-link">ACTIVITIES</a>
      </LinkTo>
      <LinkTo @route="news" @tagName="li" class="nav-item">
        <a class="nav-link">NEWS</a>
      </LinkTo>
      <LinkTo @route="media" @tagName="li" class="nav-item">
        <a class="nav-link">MEDIA</a>
      </LinkTo>
      <LinkTo @route="contact" @tagName="li" class="nav-item">
        <a class="nav-link">CONTACT</a>
      </LinkTo>
      <LinkTo @route="faqs" @tagName="li" class="nav-item">
        <a class="nav-link">FAQS</a>
      </LinkTo>
      <LinkTo @route="support" @tagName="li" class="nav-item">
        <a class="nav-link">SUPPORT</a>
      </LinkTo>
    </ul>
  </div>
</nav>
{{outlet}}
<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col lead">
        Dhammakaya Meditation Centre of Newcastle
      </div>
    </div>
    <div class="row text-muted">
      <div class="col-12 col-sm-6 mt-3">
        <address>
          Dhammakaya Meditation Centre of Newcastle<br>
          Church street<br>
          Hebburn, Tyne and Wear<br>
          NE31 1DR<br>
        </address>
        <a href="tel:01914 203981">01914 203981</a><br>
        <a href="mailto:dmcnewcastle@gmail.com">dmcnewcastle@gmail.com</a><br>
        Charity number: 1174069
      </div>
      <div class="col-12 col-sm-6 mt-3">
        World peace through inner peace. A non-profit organisation located in Hebburn, South Tyneside, whose purpose is
        to teach meditation for world peace.
      </div>
    </div>
  </div>
</footer>

<div id="app-modal" {{did-insert this.setUIModalContainerElement}}></div>