<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h3>Address</h3>
      <address>
        <strong>Dhammakaya Meditation Centre of Newcastle<br></strong>
        Church Street<br>
        Hebburn<br>
        Tyne and Wear<br>
        NE31 1DR<br>
      </address>
    </div>
  </div>
</div>