{{#img-banner src="assets/images/contact-us_cover.jpg"}}
  <h1 class="display-3 image-banner_display">CONTACT</h1>
{{/img-banner}}
<div class="container-fluid">
  <div class="row mt-5">
    <div class="col px-5">
      <h2>Address</h2>
      <address>
        <strong>Dhammakaya Meditation Centre of Newcastle<br></strong>
        Church Street<br>
        Hebburn<br>
        Tyne and Wear<br>
        NE31 1DR<br>
      </address>
    </div>
  </div>
</div>