{{#img-banner src="assets/images/faq_cover.jpg"
              backgroundPosition="top center"}}
  <h1 class="display-2 image-banner_display">FAQ</h1>
{{/img-banner}}
<div class="container-fluid">
  <div class="row mt-4 p-3">
    <div class="col-12">
      <h2>What is meditation?</h2>
      <p>
        Meditiation is a mind training technique to develop mental quality. It is something we can incorporate
        into our daily life, allowing us to improve the quality of the mind and the body. Meditation is not only
        for monks or priests but is a practice for anyone who would like to improve their quality of life.
      </p>
    </div>
    <div class="col-12">
      <h2>What is Dhammakaya meditation?</h2>
      <p>
        Dhammakaya meditation is one of several meditation techniques which has been practiced in Asia for over
        two thousand and five hundred years. It is effective and easy to learn. Everyone, regardless of age, race
        or beliefs, can obtain the benefits from this technique.
      </p>
    </div>
  </div>
</div>
