{{img-banner src="assets/images/logo-text.png" contain=true noRepeat=true}}
<div class="container-fluid">
  <div class="row mb-5">
    <div class="col-12 col-lg-4 mt-5 px-5 animate-reveal">
      <h3 class="mb-3">
        Who we are
      </h3>
      <div class="text-justify">
        Dhammakaya Foundation is a non-profit organisation, based on personal development, aiming to promote activities
        for the restoration of morality in individuals, families, societies and the world
      </div>
    </div>
    <div class="col-12 col-lg-4 mt-5 px-5 animate-reveal animate-delay-1">
      <h3 class="mb-3">
        What we do
      </h3>
      <div class="text-justify">
        While many are searching for peace from without, we believe that world peace MUST begin from each and every one
        of us. That’s why we promote the use of meditation in order to help individuals cultivate inner peace inside
        themselves
      </div>
    </div>
    <div class="col-12 col-lg-4 mt-5 px-5 animate-reveal animate-delay-2">
      <h3 class="mb-3">
        Join our activities
      </h3>
      <div class="text-justify">
        You can join different activities such as Buddhist ceremonies, meditation retreats and Dhamma studies in
        Thailand and in any of our worldwide centres
      </div>
    </div>
  </div>
</div>
{{#hide-after year=2019 month=10 day=8}}
  <div class="container-fluid">
    <div class="row my-5">
      <div class="d-none d-sm-block col-sm-2 col-md-3"></div>
      <div class="col-12 col-sm-8 px-0 col-md-6">
        <img class="img-fluid" src="assets/images/events/1910-poster-med-ret-oct-2019.jpg">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row my-5">
      <div class="col-12">
        <h3>What do you learn?</h3>
      </div>
      <div class="col-12">
        <p>
          During 2 days retreat participants will learn how to meditate in a peaceful environment with a Buddhist monk.
          Meditation technique is The Middle Way, known as Dhammakaya technique in Thailand. This technique emphasis is
          on comfort. Within a comfortable environment people’s mind can become really calm and peaceful.
        </p>
      </div>
      <div class="col-12">
        <p>
          General session will be with teaching and meditation practice. Coaching can be also given during the session
          or at personal request to guide and tune the mind effectively. Participants are encouraged to ask questions
          concerning meditation, how to apply into everyday life and Buddhism from teaching monks.
        </p>
      </div>
      <div class="col-12">
        <p>
          It’s a balance between spiritual self discipline to practice oneself, wake up early, take two meals a day and
          comfort of accommodation, nature, food and meditation technique.
        </p>
      </div>
      <div class="col-12">
        <h3>Overview</h3>
        <p>
          People with any religious backgrounds (or none) are welcomed at our retreat. The minimum age requirement is
          18. We request that all participants be in a good state of health and comfortable in rustic surroundings with
          a genuine desire to learn and practice meditation in our established program. All participants are requested
          to abstain from smoking or drinking alcohol and take two meals a day to support your meditation practice. The
          Meditation Retreat is run by a Buddhist Charity based in the UK which promotes world peace through inner
          peace.
        </p>
      </div>
      <div class="col-12">
        <h3>Fees</h3>
      </div>
      <div class="col-12">
        <p>
          Fees are kept to a minimum and will be used just for the cost of the retreat. The Standard Rate for the
          retreat is £75. This fee covers all meals and accommodation. If you cannot afford the Standard Rate please
          talk to us and we will offer you a supported rate. The Sponsor Rate is £100. This is a benefactor rate which
          helps others to come to the retreat who cannot afford the Standard Rate.
        </p>
      </div>
      <div class="col-12">
        <h3>Payment method</h3>
      </div>
      <div class="col-12">
        <p>
          Payment must made in fully
        <ol>
          <li>by cash (directly at the Meditation Centre in Hebburn)</li>
          or
          <li>
            by bank transfer to Dhammakaya North United Kingdom (DNUK), Lloyds Bank plc
            <br>Sort Code: 30-90-89
            <br>Account No: 38694368
            <br>Reference: MedRet (YOUR NAME)
          </li>
        </ol>
        </p>
      </div>
      <div class="col-12">
        <h3>Registration is open until Monday, 7th October 2019</h3>
      </div>
      <div class="col-12">
        <p>
          However, places are limited and will be on a first come first serve basis. Cancellation made one week before
          the retreat will receive a full refund otherwise refunds can not be claimed. For more information please
          contact <a href="tel:01914203981">01914 203981</a> or <a href="tel:07454647620">07454 647 620</a> or e-mail us at
          <a href="mailto:dmcnewcastle@gmail.com">dmcnewcastle@gmail.com</a>
        </p>
      </div>
      <div class="col-12">
        <h3>What to bring?</h3>
      </div>
      <div class="col-12">
        <p>
        <ul>
          <li>Personal items, bathing equipment and towels</li>
          <li>Personal medication</li>
          <li>Warm clothing</li>
          <li>
            Loose, simple, and comfortable clothing, preferably in white or light colours (Sleeveless shirts and
            shorts see-through, or revealing clothing should not be worn in the retreat)
          </li>
          <li>Individual bottle / flask for water</li>
        </ul>
        </p>
      </div>
      <div class="col-12">
        <h3>Application</h3>
      </div>
      <div class="col-12">
        <p>
          Should you be interested in joining this retreat, please follow these steps:
        <ol>
          <li>Fill in the online application form at <a href="https://bit.ly/2kOxyWk">https://bit.ly/2kOxyWk</a></li>
          <li>Wait until we contact you for confirmation via email.</li>
          <li>Make a payment to confirm your place.</li>
        </ol>
        </p>
      </div>
    </div>
  </div>
{{/hide-after}}
{{img-banner src="assets/images/index_cover.jpg"}}
