{{img-banner src="assets/images/logo-text.png" contain=true noRepeat=true}}
<div class="container-fluid">
  <div class="row mb-5">
    <div class="col-12 offset-md-2 col-md-8 offset-lg-3 col-lg-6">
      <h2 class="mb-4 text-center">
        Upcoming events
      </h2>
      <div class="card">
        <img class="card-img-top" src="assets/images/vesak-poster.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">VESAK DAY: The day of the Lord Buddha</h5>
          <p class="card-text">
            <b>Activities</b>
            <ul>
              <li>14:00-18:00 Vesak Exhibitions: The Exhibition of Happiness</li>
              <li>15:00-15:30 Meditation Session 1</li>
              <li>16:00-16:30 Meet a monk</li>
              <li>17:00-17:30 What the Buddha saw 2,500 years ago</li>
              <li>19:00-20:00 Candle Procession</li>
            </ul>
          </p>
          {{#link-to-and-scroll-nav "activities.visakha-bucha" class="card-link"}}
            Learn more about Vesak day
          {{/link-to-and-scroll-nav}}
          <div class="mt-4">
            <a href="http://bit.ly/2p30M1j" class="btn btn-primary">Register here</a>
          </div>
        </div>
        <div class="card-footer text-muted">
          Tuesday 29th May 2018 <span class="text-muted">at Dhammakaya Meditation Centre, Hebburn</span>
        </div>
      </div>
    </div>
  </div>
</div>
{{img-banner src="assets/images/index_cover.jpg"}}
<div class="container-fluid">
  <div class="row mb-5">
    <div class="col-12 col-lg-4 mt-5 px-5 animate-reveal">
      <h3 class="mb-3">
        Who we are
      </h3>
      <div class="text-justify">
        Dhammakaya Foundation is a non-profit organisation, based on personal development, aiming to promote activities
        for the restoration of morality in individuals, families, societies and the world
      </div>
    </div>
    <div class="col-12 col-lg-4 mt-5 px-5 animate-reveal animate-delay-1">
      <h3 class="mb-3">
        What we do
      </h3>
      <div class="text-justify">
        While many are searching for peace from without, we believe that world peace MUST begin from each and every one
        of us. That’s why we promote the use of meditation in order to help individuals cultivate inner peace inside
        themselves
      </div>
    </div>
    <div class="col-12 col-lg-4 mt-5 px-5 animate-reveal animate-delay-2">
      <h3 class="mb-3">
        Join our activities
      </h3>
      <div class="text-justify">
        You can join different activities such as Buddhist ceremonies, meditation retreats and Dhamma studies in
        Thailand and in any of our worldwide centres
      </div>
    </div>
  </div>
</div>