{{img-banner src="assets/images/logo-text.png" contain=true noRepeat=true}}
<div class="container-fluid">
  <div class="row mb-5">
    <div class="col-12 col-lg-4 mt-5 px-5 animate-reveal">
      <h3 class="mb-3">
        Who we are
      </h3>
      <div class="text-justify">
        Dhammakaya Foundation is a non-profit organisation, based on personal development, aiming to promote activities
        for the restoration of morality in individuals, families, societies and the world
      </div>
    </div>
    <div class="col-12 col-lg-4 mt-5 px-5 animate-reveal animate-delay-1">
      <h3 class="mb-3">
        What we do
      </h3>
      <div class="text-justify">
        While many are searching for peace from without, we believe that world peace MUST begin from each and every one
        of us. That’s why we promote the use of meditation in order to help individuals cultivate inner peace inside
        themselves
      </div>
    </div>
    <div class="col-12 col-lg-4 mt-5 px-5 animate-reveal animate-delay-2">
      <h3 class="mb-3">
        Join our activities
      </h3>
      <div class="text-justify">
        You can join different activities such as Buddhist ceremonies, meditation retreats and Dhamma studies in
        Thailand and in any of our worldwide centres
      </div>
    </div>
  </div>
  {{#hide-after year=2019 month=11 day=11}}
    <div class="row py-5">
      <div class="col-12 text-center">
        <h1>Kathina</h1>
        <div class="lead text-muted mb-4">Sunday 10th November</div>
      </div>
      <div class="d-none d-sm-block col-sm-2 col-md-3"></div>
      <div class="col-12 col-sm-8 px-0 col-md-6">
        <img class="img-fluid" src="assets/images/events/1911-kathina.jpeg">
      </div>
    </div>
    <div class="row pb-5">
      <div class="col-12 text-center">
        <a class="btn btn-primary" href="http://bit.ly/2muSuCj" target="_blank" rel="noopener">
          Register
        </a>
      </div>
    </div>
  {{/hide-after}}
  {{#hide-after year=2019 month=10 day=8}}
    <div class="row pt-5 pb-3">
      <div class="col-12 text-center">
        <h1>Meditation Retreat</h1>
        <div class="lead text-muted mb-4">12th-13th October</div>
      </div>
      <div class="d-none d-sm-block col-sm-2 col-md-3"></div>
      <div class="col-12 col-sm-8 px-0 col-md-6">
        <img class="img-fluid" src="assets/images/events/1910-poster-med-ret-oct-2019.jpg">
      </div>
    </div>
    <div class="row pb-5">
      <div class="col-12 text-center">
        <a class="btn btn-primary" href="https://bit.ly/2kOxyWk" target="_blank" rel="noopener">
          Apply
        </a>
        {{#link-to-and-scroll-nav "teachings.meditation-retreat"}}
          <button type="button" class="btn btn-outline-primary">
            Learn more
          </button>
        {{/link-to-and-scroll-nav}}
      </div>
    </div>
  {{/hide-after}}
</div>
{{img-banner src="assets/images/index_cover.jpg"}}
