{{img-banner src="assets/images/index-cover.jpg"}}
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-4 p-5">
      <h3 class="mb-3">
        Who we are
      </h3>
      <div class="text-justify">
        Dhammakaya Foundation is a non-profit organization, based on personal development, aims to promote activities
        for restoration of morality in individual, family, society and the world.
      </div>
    </div>
    <div class="col-12 col-md-4 p-5">
      <h3 class="mb-3">
        What we do
      </h3>
      <div class="text-justify">
        While many are searching for peace from without, we believe that world peace MUST begin from each and everyone
        of us. That’s why we promote the use of meditation in order to help individuals cultivate inner peace inside
        themselves.
      </div>
    </div>
    <div class="col-12 col-md-4 p-5">
      <h3 class="mb-3">
        Join our activities
      </h3>
      <div class="text-justify">
        You can join different activities such as Buddhist ceremonies, meditation retreats and Dhamma studies in
        Thailand and in any of our worldwide centers.
      </div>
    </div>
  </div>
</div>
