{{img-banner src="assets/images/logo-text.png" contain=true noRepeat=true}}
<div class="container-fluid">
  <div class="row mb-5">
    <div class="col-12 col-lg-4 mt-5 px-5 animate-reveal">
      <h3 class="mb-3">
        Who we are
      </h3>
      <div class="text-justify">
        Dhammakaya Foundation is a non-profit organisation, based on personal development, aiming to promote activities
        for the restoration of morality in individuals, families, societies and the world
      </div>
    </div>
    <div class="col-12 col-lg-4 mt-5 px-5 animate-reveal animate-delay-1">
      <h3 class="mb-3">
        What we do
      </h3>
      <div class="text-justify">
        While many are searching for peace from without, we believe that world peace MUST begin from each and every one
        of us. That’s why we promote the use of meditation in order to help individuals cultivate inner peace inside
        themselves
      </div>
    </div>
    <div class="col-12 col-lg-4 mt-5 px-5 animate-reveal animate-delay-2">
      <h3 class="mb-3">
        Join our activities
      </h3>
      <div class="text-justify">
        You can join different activities such as Buddhist ceremonies, meditation retreats and Dhamma studies in
        Thailand and in any of our worldwide centres
      </div>
    </div>
  </div>
  {{#hide-after year=2020 month=02 day=09}}
    <div class="row py-5">
      <div class="col-12 text-center">
        <h1>Magha Puja</h1>
        <div class="lead text-muted mb-4">Saturday 8th February</div>
      </div>
      <div class="col-12 text-center mb-5">
        <a class="btn btn-primary" href="https://docs.google.com/forms/d/e/1FAIpQLSd-u5hUCyyTTqGRsG5JeeDrC7ymAbEX9pdXLYgCi7MkNz50Xw/viewform" target="_blank" rel="noopener">
          Register for Magha Puja
        </a>
      </div>
      <div class="d-none d-sm-block col-sm-2 col-md-3"></div>
      <div class="col-12 col-sm-8 px-0 col-md-6">
        <img class="img-fluid w-100" src="assets/images/events/20020-magha-puja.png">
      </div>
    </div>
    <div class="row pb-5">
      <div class="col-12 text-center">
        <a class="btn btn-primary" href="https://docs.google.com/forms/d/e/1FAIpQLSd-u5hUCyyTTqGRsG5JeeDrC7ymAbEX9pdXLYgCi7MkNz50Xw/viewform" target="_blank" rel="noopener">
          Register for Magha Puja
        </a>
      </div>
    </div>
  {{/hide-after}}
</div>
{{img-banner src="assets/images/index_cover.jpg"}}
