{{#img-banner src="assets/images/support_cover.jpeg" backgroundPosition="right center"}}
  <h1 class="display-3 image-banner_display">SUPPORT</h1>
{{/img-banner}}
<div class="container">
  <div class="row">
    <div class="col lead my-5">
      Wat Phra Dhammakaya Newcastle is operating as a non-profit organization. We aim to promote Dhamma knowledge and
      morality by giving everyone in the world the opportunity to practice meditation, and discover true happiness.
      Meditation is something that can be practiced by anyone daily. Meditation gives rise to inner peace and inner
      peace leads to world peace.
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1>Donations</h1>
      <p>Below are banking details for making contributions</p>
      <p>
        Lloyds<br>
        Name: DNUK<br>
        Acc no: 38694368<br>
        Sort code: 30-90-89<br>

        Swift code: LOYDGB2125<br>
        IBAN: GB40LOYD30908938694368<br>
        Address: 15 Blackheath Village, London, SE3 9LH<br>
      </p>
      <p class="text-muted">Note: Please donate more than 1 pence (£0.01), to allow us to check our bank statements easily.</p>
    </div>
  </div>
</div>
