<ImgBanner @src="assets/images/support_cover.jpeg" @backgroundPosition="right center">
  <h1 class="display-3 image-banner_display">SUPPORT</h1>
</ImgBanner>
<div class="container">
  <div class="row">
    <div class="col lead my-5">
      Wat Phra Dhammakaya Newcastle is operating as a non-profit organization. We aim to promote Dhamma knowledge and
      morality by giving everyone in the world the opportunity to practice meditation, and discover true happiness.
      Meditation is something that can be practiced by anyone daily. Meditation gives rise to inner peace and inner
      peace leads to world peace.
    </div>
  </div>
  <h1>Donations</h1>
  <div class="col-12 text-center mt-3">
    <p>
      You can donate at your discretion via the donate button below<br>Sathu 🙏
    </p>
    <form action="https://www.paypal.com/donate" method="post" target="_blank">
      <input type="hidden" name="hosted_button_id" value="2CYLN39RHDUVS" />
      <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
    </form>
    <img class="img-fluid mt-3" src="assets/images/teachings/paypal-qr-code.jpeg" alt="Paypal QR code" role="presentation">
  </div>
  <p>Alternatively, bank transfer is available via the details below</p>
  <p>
    Lloyds<br>
    Name: DNUK<br>
    Acc no: 38694368<br>
    Sort code: 30-90-89<br>

    Swift code: LOYDGB2125<br>
    IBAN: GB40LOYD30908938694368<br>
    Address: 15 Blackheath Village, London, SE3 9LH<br>
  </p>
  <p class="text-muted">Note: Please use "meditation" as the payment reference to allow us to review transactions easily.</p>
</div>
